/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
  position: relative;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
#index-banner{

}
.button-collapse {
  color: #27ae60;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
.white-bg{
  height: 200px;
  width: 350px;
  background-color:rgba(255, 255, 255, 0.8);
  margin-top: 50px;
}
#binSection, #contributeSection, #signUpSection{
  height: 400px;
  display: none;
}
      #map {
        height: 400px;
        width: 100%;
        position: absolute;
        overflow: scroll;
      }
      #sideBarComments{
        height: 50px;
        width: 50px;
        margin-top: 300px;
        background-color: #2980b9;
        z-index:1;
  position: absolute;
      }
.bbuttonIcon{
  color: white;
}
.xbuttonIcon{
  color: white;
  display: none;
  margin-top: 15px;
}
.popout{
  display: none;
  width: 100%;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}