/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
  position: relative;
  min-height: 100%;
}
.all{
  min-height: 400px;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
#index-banner{

}
.parallax img{
  display: inline-block;
  margin-bottom: -150px;
}
.button-collapse {
  color: #27ae60;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
.white-bg{
  height: 200px;
  width: 350px;
  background-color:rgba(255, 255, 255, 0.8);
  margin-top: 50px;
}
#binSection, #contributeSection, #signUpSection{
  height: 400px;
}
.popupBins{
  display: none;
}
#map {
  height: 400px;
  width: 100%;
  position: absolute;
  overflow: scroll;
      }
#map-popup{
}
#sideBarComments{
  height: 50px;
  width: 50px;
  margin-top: 300px;
  background-color: #2980b9;
  z-index:1;
  position: absolute;
      }
.bbuttonIcon{
  color: white;
}
.xbuttonIcon{
  color: white;
  display: none;
  margin-top: 15px;
}
.popout{
  display: none;
  width: 100%;
}

#map {
  margin: 0;
  padding: 0;
  height: 400px;
  max-width: none;
}
#map img {
  max-width: none !important;
}
.gm-style-iw {
  width: 300px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 10px 10px;
}
#iw-container {
  margin-bottom: 10px;
}
#iw-container .iw-title {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  padding: 5px;
  background-color: #2ecc71;
  color: white;
  margin-top: -10px;
  border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 10px;
  width: 95%;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}
.iw-subTitle {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
}
.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 0px;
  right: 18px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}